@model Business.ViewModels.ProductViewModels.ProductViewModel
@{
    ViewData["Title"] = "Detail";
}

<!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="/Product">Shop</a>
                    <span class="breadcrumb-item active">Shop Detail</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img src="@Model.ImageUrl" class="d-block w-100" style="height: 400px; object-fit:contain; object-position:center;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>@Model.Name</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            @if (Model.AverageReviewScore.HasValue)
                            {
                                @for (int i = 1; i <= 5; i++)
                                {
                                    @if (i <= Math.Floor(Model.AverageReviewScore.Value))
                                    {
                                        <small class="fa fa-star text-primary mr-1"></small>
                                    }
                                    else if (i <= Math.Ceiling(Model.AverageReviewScore.Value))
                                    {
                                        <small class="fa fa-star-half-alt text-primary mr-1"></small>
                                    }
                                    else
                                    {
                                        <small class="far fa-star text-primary mr-1"></small>
                                    }
                                }
                            }
                        </div>
                        <small class="pt-1">(@Model.NoOfViews views)</small>
                    </div>
                    <div class="d-flex mb-3 align-items-center">
                        @if (Model.Discount != null && Model.Discount.Amount > 0)
                        {
                            decimal discountedPrice = Model.Price.GetValueOrDefault() * (1 - (decimal)Model.Discount.Amount / 100);
                            <h3 class="font-weight-semi-bold mb-4">$@discountedPrice.ToString("F2")</h3>
                            <h5 class="text-muted ml-2"><del>$@Model.Price?.ToString("F2")</del></h5>
                        }
                        else
                        {
                            <h3 class="font-weight-semi-bold mb-4">$@Model.Price?.ToString("F2")</h3>
                        }
                    </div>
                    <p class="mb-4">@Model.Description</p>
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Sizes:</strong>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-1" name="size">
                                <label class="custom-control-label" for="size-1">S</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-2" name="size">
                                <label class="custom-control-label" for="size-2">M</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-3" name="size">
                                <label class="custom-control-label" for="size-3">L</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-4" name="size">
                                <label class="custom-control-label" for="size-4">XL</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-5" name="size">
                                <label class="custom-control-label" for="size-5">XXL</label>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Category:</strong>
                        <a href="/Product?categoryId=@Model.Category?.Id">@Model.Name</a>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center" value="1" id="product-quantity">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3" id="add-to-cart-btn" 
                                onclick="addToCartFromDetail('@Model.Id', '@Model.Name', @Model.Price, '@Model.ImageUrl')">
                            <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                        </button>
                    </div>
                    <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Share on:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                        @* <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (@Model.Reviews?.Count)</a> *@
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                            <p>@Model.Description</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>
                            <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            @* @await Html.PartialAsync("_Reviews", Model.Reviews) *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Update cart count on page load
            updateCartCount();
        });
        
        // Function to add the product to cart from detail page (with quantity)
        function addToCartFromDetail(productId, productName, price, imageUrl) {
            // Get the selected quantity
            const quantity = parseInt(document.getElementById('product-quantity').value);
            
            // Get the cart from local storage or create a new one
            let cart = JSON.parse(localStorage.getItem('cart')) || [];

            // Check if the product is already in the cart
            const existingProductIndex = cart.findIndex(item => item.id === productId);

            if (existingProductIndex !== -1) {
                // If the product is already in the cart, increase its quantity
                cart[existingProductIndex].quantity += quantity;
            } else {
                // If the product is not in the cart, add it with the selected quantity
                const newProduct = { 
                    id: productId, 
                    name: productName, 
                    price: price, 
                    imageUrl: imageUrl,
                    quantity: quantity 
                };
                cart.push(newProduct);
            }

            // Save the updated cart back to local storage
            localStorage.setItem('cart', JSON.stringify(cart));
            
            // Update the UI
            updateCartCount();
            
            // Show a success message
            alert('Product added to cart!');
        }
    </script>
}
