@model IEnumerable<Business.ViewModels.PaymentViewModels.PaymentViewModel>

@{
    ViewData["Title"] = "Payments";
}

<h2>Payments</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Method</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TransactionId</td>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.Status</td>
                <td>@item.Amount</td>
                <td>@item.Method</td>
            </tr>
        }
    </tbody>
</table>