<!-- Categories Start -->
@using Business.ViewModels.CategoryViewModels;

@model IEnumerable<CategoryViewModel>
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Categories</span>
    </h2>
    <div class="row px-xl-5 pb-3">
        @foreach (var category in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" asp-controller="Product" asp-action="Category" asp-route-id="@category.Id">
                    <div class="cat-item d-flex align-items-center mb-4 py-1 px-2">
                        <div class="overflow-hidden d-flex justify-content-center align-items-center"
                        style="width:150px;height:100px;max-height: 100px;">
                            <img class="img-fluid"
                            style="object-position: center;"
                             src="@category.ImagePath" alt="@category.Name" />
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>@category.Name</h6>
                            <small class="text-body">
                                @category.Description.Substring(0, Math.Min(20, category.Description.Length))...
                            </small>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<!-- Categories End -->
